{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block table %}
        <table>
            <tr>
                {% for key in users[0]|keys %}
                    <td>{{(key|split('_'))|join(' ')|capitalize}}</td>
                {% endfor %}
            </tr>
            {% for user in users %}
                <tr>
                    {% for key in user|keys %}
                        <td>{{user[key]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}